.DS_Store
.idea
*.iml

.turbo
coverage
dist
node_modules
tsconfig.tsbuildinfo
junit.xml
report.xml
storybook-static
.jest-cache
.env.sentry-build-plugin
.nyc_output

vitest.config.ts.timestamp-*
vitest.config.js.timestamp-*

.env
certificates


# Android
.externalNativeBuild
*.apk
.gradle
.navigation
captures
build
capacitor-cordova-android-plugins
apps/meinestadt/android/app/src/main/assets/public
apps/meinestadt/android/app/src/main/assets/capacitor.config.json
apps/meinestadt/android/local.properties

# iOS
debug_output.txt
App.app.*.zip
App.ipa
xcuserdata
Pods
capacitor-cordova-ios-plugins
apps/meinestadt/ios/App/App/public
apps/meinestadt/ios/App/App/capacitor.config.json
DerivedData
xcuserdata
capacitor-cordova-ios-plugins

debug_output.txt
App.app.*.zip
*.ipa
